.about-h1 {
  display: inline;
  border-bottom: 2px solid red; 
  font-size: 70px;
  font-weight: 500;
}

.about-img {
  max-height: 520px;
}

.about-para {
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
}

.about-skills p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.about-achievement {
  border-bottom: 2px solid white;
  transition: 0.5s;
}

.about-achievement h1 {
  font-size: 36px;
  font-weight: 500;
  background-image: linear-gradient(to right, rgb(199, 0, 0), rgb(255, 55, 55),rgb(254, 87, 87), rgb(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achievement p {
  font-size: 18px;
  font-weight: 400;
}

.about-skill:hover {
  transform: scale(1.03);
}

.about-achievement:hover h1{
  background-image: linear-gradient(to right, rgb(255, 255, 255),rgb(254, 87, 87), rgb(255, 55, 55) , rgb(199, 0, 0));
}

.about-achievement:hover {
  cursor:default;
  transform: scale(1.1);
}